root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.properties]
insert_final_newline = false

[*.bat]
end_of_line = crlf
